body {
  background-color: #adcad6;
  color: #003f52;
  font-family: sans-serif;
}

a {
  color: #335c67;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #41bbd9;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar */

/* Webcam */

#webcam {
  position: relative;
}

#webcam video {
  position: absolute;
}

#webcam canvas {
  position: absolute;
}

#webcam img {
  position: absolute;
}

/* Classroom */

.item img {
  width: 500px;
  height: auto;
}
