body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Webcam */

#webcam {
  position: relative;
}

#webcam video {
  position: absolute;
}

#webcam canvas {
  position: absolute;
}

#webcam img {
  position: absolute;
}

/* Classroom */

.item img {
  width: 500px;
  height: auto;
}
