body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#video-stream video {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#video-stream canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#video-stream img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -50%;
  right: 0;
}

/* CLASSES */
.item img {
  width: 500px;
  height: auto;
}
